 html, body {
	padding : 0;
	margin : 0;
	height : 100%;
}
body{
	background-color: rgb(192, 201, 214); 
	display: flex; 
}
#info
{
	position: fixed;
	color:white;
	background-color: rgb(65, 75, 91);
	padding-top: 35px;
	width: 225px;
	height : 100%;
	margin-left: 0px;
}
.InfoContact{
	margin-left: 10%;
}
#info .name{
	text-align: center;
	margin-bottom: 50px;
}
#info img
{
	width:150px;
	height:150px;
}
#info nav{
	margin-top: 10%;
	margin-left:10%;
	margin-right: 10%;
}
#info h1{
	margin-top: 10%;
	margin-left: 10%;
}
#info nav p{
	text-align: center ;
	background-color: rgb(58, 58, 63);
	min-width: 150px;
	border-radius: 5px 5px 5px 5px ;
	height: 30px;
	font-size: 20px;
}
#info nav p:hover{
	background-color: rgb(25, 25, 25);
	cursor: pointer;
}
#CV
{
	width: 80% ;
	margin-left: 225px;
	color : darkblue ;

}
section{
	margin-left: 5%;
}
section h1{
	font-size: 30px;
}
section ul{
	font-size: 20px;
}
section p{
	font-size: 20px;
}
.Contenue{
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
}
#Formations{
	position: absolute;
}
#Expériences{
	position: absolute;
	margin-left: 1000px;
	opacity: 0;
}
#Projets{
	position: absolute;
	margin-left: 1000px;
	opacity: 0;
}
#Projets section{
	border-bottom: solid darkblue 1px;
	width: 80%;
}
#Projets header{
	display: flex;
	justify-content: space-between;
}
section header h1{
	max-width: 80%;
}
section header p{
	text-align: center ;
	font-size: 30px;
	width: 30px;
	height: 30px;
	border: solid darkblue 1px;
}
section header p:hover{
	color:white;
	background-color: darkblue;
	cursor: pointer;
}
article img{
	height :0px;
	width: 0px;
	margin-left: 30%;
}
article{
	width: 80%;
	height:0px;
	opacity: 0;
}
#FrontPic{
	position : absolute ;
	z-index: -5;
	background-color: rgb(0,0,0,0.7);
	text-align: center;
	width: 100%;
	height:100%;
	visibility: hidden;
}
#Pic{
	height: 800px;
	width: 80%;
	margin-left: 10%;
}